html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Abel', sans-serif;
  font-size: 1.1rem;
}

h3 {
  color: var(--mainRed);
  text-align: center;
  font-weight: bold;
  font-family: 'Staatliches', sans-serif;
}

h4 {
  text-align: center;
  color: var(--blueGreen);
  margin-top: 1rem;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

h5 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Abel', sans-serif; 
}

.company-name {
  color: var(--blueGreen);
  font-weight: 100;
}

.inbetween-line {
  border-top: 5px solid var(--blueGreen);
  width: 50%;
}

.partners {
  color: var(--yellowGreen);
  font-weight: 600;
}


.sm-inbetween-line {
  border-top: 5px solid var(--yellowGreen);
  width: 5%;
}

.paragraph {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.sub-title {
  padding: 2rem;
  background: rgba(141, 139, 139, 0.1);
}